[Unit]
Description = servicio borra secrets

[Service]
ExecStart=/bin/bash /home/student/secretos.sh
ExecStartPost=/bin/systemctl start escribe-normas.service

[Install]
WantedBy=multi-user.target
